{% extends "admin_base.html" %}

{% block content %}
    <br>
    <div align ="center">
    <h2>How to play fitcraft</h2>
    <img src="/static/image/fitcoin.png"><br><br>
    <p style="font-family:'sans serif'">
        피트 크래프트는 반 야생 서버로 마크에서 몇가지 플러그인만 추가한 서버입니다.<br>
        다른 플러그인, 모드들과 가장 큰 차이점은 웨어러블 디바이스(FITBIT)를 이용하여<br>
        수집한 걸음 수가 마인크래프트 내부에서 화폐인 <b>FITCOIN</b>으로 교환 된다는 것 입니다.<br> 
        이 <b>FITCOIN</b>은 기존 서버에서는 만들 수 없었던 아이템들을 구매할 수 있으며,<br>
        또한 플레이 할 때 지겹게 반복하여 노가다를 해서 얻어야 할 아이템들을 구매할 수 있습니다.<br> 
        즉 운동을 한 시간만큼 아이템을 구매할 수 있는것 입니다. <br>
        집을 짓기위한 방법이 컴퓨터 앞에 않아서 땅을 파는 것 뿐만이 아닌, <br>
        밖에 나가서 동네 한 바퀴를 뛰고 오면 그 시간만큼을 아이템으로 보상받아 집을 지을 수 있습니다. <br>
        이 얼마나 멋진 방법입니까! 때로는 현실에서 때로는 가상에서 피트 크래프를 이용하여 마크세상에서 <br> 살아남아 나의 영토를 만들어 보세요! <br><br>
        
        <b>서버 주소 : sokulee.xyz</b>
    </p>
   </div>
    <a href = "/home" class="btn btn-primary btn-large">
        Home
    </a>
    <a href = "/fitcraft" class="btn btn-primary btn-large">
        Back
    </a>
    
{% endblock %}
~                
