<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Fitbit Authentication Error</title>
    </head>
    <body>
        <h1>Fitbit Authentication Error</h1>

        <p>Your Fitbit token is already Exist and Token is updated!</p>
        <a href = "/home" class="btn btn-primary btn-large">
            Home
        </a>
        <a href = "/fitapp/home" class="btn btn-primary btn-large">
            Health data
        </a>
        <a href = "/fitapp/home" class="btn btn-primary btn-large">
            Get a Fitpoint
        </a>
    </body>
</html>
