<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Sync data</title>
    </head>
    <body>
    {% if user.is_authenticated %}
    <div align = "right">
        {{ user.username }} hi! ^.^ [{{ user.profile.fitPoint }} Point]
    </div>
        <div> 
        <h1>{{fitpoint}} point is added!({{step}})</h1><br> 
        <a href = "/fitapp/home" class="btn btn-primary btn-large">
            Back
        </a>
        </div>
    </div>
    {% endif %}

    </body>
</html>
