{% extends "admin_base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 align = "center">Welcome to FitCraft!</h1>

    <!--if user is not authenticated-->
    {% if not user.is_authenticated %}
    <div align="right">
        <a href = "/login" class="btn btn-primary btn-large">
            Login
        </a>&nbsp;
        <a href = "/register" class="btn btn-primary btn-large">
            Register
        </a>&nbsp;
    </div>
    <div align="center">
        <p>Login your accounts</p>
        <p>please</p>
    </div>
    {% else %}
    <!--if user is not authenticated-->
    <div align="right">
        {{ user.username }} hi! ^.^
        <a href = "logout" class="btn btn-primary btn-large">
            Logout
        </a>&nbsp;
        <a href = "/fitbit/login" class="btn btn-primary btn-large">
            Fitbit Token
        </a>&nbsp;
    </div>
    <br>
    {% endif %}
    <div align = "center">
        <b style='color:blue; font-size:13pt;'>Notice(last updated 10/25)</b><br>
        <div style='font-size:13pt;width:600px;text-align:left;'>
            <li> Fitbit Sync (10/25)
            <li> Login / Logout (10/24)
            <li> It is free service (10/22)   
        </div>
    </div>
    <p>
<!--
        <a class="btn btn-primary btn-large">
            Learn more
        </a>
-->
    </p>
</div>
{% endblock %}
