<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking board</title>
    {% load staticfiles %}
    <!--<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>-->
    <script>
    function cancel() {
        location.href="/home";
    }
    </script>
    <link rel="stylesheet" href="/static/css/table_style.css">
    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    </head>
    <body>
<br><br>
<h2> Memo</h2>
  <table cellspacing = 0 cellpadding = 5 class="table" style="font-family:'sans serif'">
      <thead class="table-fill">
      <td><b>조회수</b><td> {{ boardData.hits }} </td></tr>
      <td><b>이름 </b><td> {{ boardData.name }} </td></tr>
      <td><b>이메일 </b><td> {{ boardData.mail }} </td></tr>
      <td><b>제목 </b><td> {{ boardData.subject }} </td></tr>
      <td><b>내용 </b><td> {{ boardData.memo }} </td></tr>
      </thead>
  </table>

  <table  cellspacing = 0 cellpadding = 0 class="table">
      <tr><td>
          <input type=button value="수정" class="btn btn-default btn-large" OnClick="javascript:boardmodify()">
          <input type=button value="목록" class="btn btn-default btn-large" OnClick="javascript:boardlist()">
          <input type=button value="삭제" class="btn btn-default btn-large" OnClick="javascript:boarddelete()">
          <a href = "/fitapp/home" class="btn btn-default btn-large">
              Home
          </a>

      </td></tr>
  </table>
</body>

</html>

